<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyLibrary</string>
	<key>Description</key>
	<string>A package that builds a library.</string>
	<key>Identifier</key>
	<string>com.apple.dt.packageTemplate.Library</string>
	<key>Image</key>
	<dict>
		<key>SystemSymbolName</key>
		<string>building.columns</string>
	</dict>
	<key>Kind</key>
	<string>Xcode.IDESwiftPackageSupport.PackageTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>None</string>
			<key>Description</key>
			<string>The testing system to use.</string>
			<key>Identifier</key>
			<string>testingSystem</string>
			<key>Name</key>
			<string>Testing System:</string>
			<key>SortOrder</key>
			<integer>190</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>None</string>
				<string>XCTest</string>
				<string>Swift Testing</string>
			</array>
		</dict>
	</array>
	<key>PackageType</key>
	<string>library</string>
	<key>Platforms</key>
	<array/>
	<key>SortOrder</key>
	<integer>100</integer>
</dict>
</plist>
