<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.m:implementation:methods:applicationShouldTerminateAfterLastWindowClosed:body</key>
						<string>return YES;</string>
						<key>GameViewController.h</key>
						<dict>
							<key>Path</key>
							<string>GameViewController.h</string>
						</dict>
						<key>GameViewController.m</key>
						<dict>
							<key>Path</key>
							<string>GameViewController.m</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.m:implementation:methods:applicationShouldTerminateAfterLastWindowClosed(- (BOOL\)applicationShouldTerminateAfterLastWindowClosed:(NSApplication *\)sender)</string>
						<string>AppDelegate.m:implementation:methods:applicationShouldTerminateAfterLastWindowClosed:body</string>
						<string>GameViewController.h</string>
						<string>GameViewController.m</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.swift:implementation:methods:applicationShouldTerminateAfterLastWindowClosed:body</key>
						<string>return true</string>
						<key>GameViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>GameViewController.swift</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.swift:implementation:methods:applicationShouldTerminateAfterLastWindowClosed(func applicationShouldTerminateAfterLastWindowClosed(_ sender: NSApplication\) -&gt; Bool)</string>
						<string>AppDelegate.swift:implementation:methods:applicationShouldTerminateAfterLastWindowClosed:body</string>
						<string>GameViewController.swift</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>SWIFT_OBJC_BRIDGING_HEADER</key>
								<string>___PROJECTNAME___ Shared/ShaderTypes.h</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
