<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>GameScene.h</key>
						<dict>
							<key>Path</key>
							<string>GameScene.h</string>
							<key>TargetIdentifiers</key>
							<array/>
						</dict>
						<key>GameScene.m</key>
						<dict>
							<key>Path</key>
							<string>GameScene.m</string>
							<key>TargetIdentifiers</key>
							<array>
								<string>com.apple.dt.iosApplicationTarget</string>
								<string>com.apple.dt.tvosApplicationTarget</string>
								<string>com.apple.dt.osxApplicationTarget</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>GameScene.h</string>
						<string>GameScene.m</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>GameScene.swift</key>
						<dict>
							<key>Path</key>
							<string>GameScene.swift</string>
							<key>TargetIdentifiers</key>
							<array>
								<string>com.apple.dt.iosApplicationTarget</string>
								<string>com.apple.dt.tvosApplicationTarget</string>
								<string>com.apple.dt.osxApplicationTarget</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>GameScene.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
