<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>storageType</string>
			<key>Units</key>
			<dict>
				<key>Core Data</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>ContentView.swift</key>
							<dict>
								<key>Path</key>
								<string>ContentView-CoreData.swift</string>
								<key>SortOrder</key>
								<integer>20</integer>
							</dict>
							<key>Persistence.swift</key>
							<dict>
								<key>Path</key>
								<string>Persistence-CoreData.swift</string>
								<key>SortOrder</key>
								<integer>15</integer>
							</dict>
							<key>___PACKAGENAME:identifier___.xcdatamodeld</key>
							<dict>
								<key>Path</key>
								<string>DataModel.xcdatamodeld</string>
								<key>SortOrder</key>
								<integer>16</integer>
							</dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App-CoreData.swift</string>
								<key>SortOrder</key>
								<integer>10</integer>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
							<string>Persistence.swift</string>
							<string>___PACKAGENAME:identifier___.xcdatamodeld</string>
							<string>ContentView.swift</string>
						</array>
					</dict>
				</array>
				<key>None</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>ContentView.swift</key>
							<dict>
								<key>Path</key>
								<string>ContentView.swift</string>
								<key>SortOrder</key>
								<integer>20</integer>
							</dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App.swift</string>
								<key>SortOrder</key>
								<integer>10</integer>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
							<string>ContentView.swift</string>
						</array>
					</dict>
				</array>
				<key>SwiftData</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>ContentView.swift</key>
							<dict>
								<key>Path</key>
								<string>ContentView-SwiftData.swift</string>
								<key>SortOrder</key>
								<integer>20</integer>
							</dict>
							<key>Item.swift</key>
							<dict>
								<key>Path</key>
								<string>Item-SwiftData.swift</string>
								<key>SortOrder</key>
								<integer>30</integer>
							</dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App-SwiftData.swift</string>
								<key>SortOrder</key>
								<integer>10</integer>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
							<string>ContentView.swift</string>
							<string>Item.swift</string>
						</array>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
