<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>Assets.xcassets</string>
		<string>___PACKAGENAME:identifier___.entitlements</string>
		<string>ContentView.swift</string>
		<string>ValidationView.swift</string>
		<string>___PACKAGENAME:identifier___App.swift</string>
		<string>Common/UI/ViewControllerRepresentable.swift</string>
		<string>Common/Audio/Synth.aif</string>
		<string>Common/Audio/SimplePlayEngine.swift</string>
		<string>Common/MIDI/MIDIManager.swift</string>
		<string>Common/TypeAliases.swift</string>
		<string>Common/String/StringHelpers.swift</string>
		<string>Model/AudioUnitHostModel.swift</string>
		<string>Model/AudioUnitViewModel.swift</string>
	</array>
</dict>
</plist>
