<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>README.md</string>
		<string>Common/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
		<string>Common/Parameters/ParameterSpecBase.swift</string>
		<string>Common/Utility/CrossPlatform.swift</string>
		<string>Common/Utility/String+Utils.swift</string>
	</array>
</dict>
</plist>
