<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Class</string>
	<key>Description</key>
	<string>An INIntent subclass.</string>
	<key>HiddenFromChooser</key>
	<string>YES</string>
	<key>HiddenFromLibrary</key>
	<string>YES</string>
	<key>Kind</key>
	<string>Xcode.IDEIntentBuilderEditor.IntentTemplateKind</string>
	<key>Options</key>
	<array/>
	<key>Summary</key>
	<string>An INIntent subclass</string>
</dict>
</plist>
