<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.base_DefinitionsInfoPlist</string>
    <!-- This template contains only definitions. The definitions provide the basics for Info.plist generation. Only used if keys are actually present. -->
    <key>Definitions</key>
    <dict>
        <key>Info.plist</key>
        <dict>
            <key>Beginning</key>
            <string><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
]]></string>
            <key>End</key>
            <string><![CDATA[</dict>
</plist>]]></string>
            <key>Indent</key>
            <integer>1</integer>
            <key>SortOrder</key>
            <integer>200</integer>
            <key>TargetIdentifiers</key>
            <array/>
            <key>SubstituteMacros</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
