<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Localizable</string>
	<key>Description</key>
	<string>A prefilled strings dictionary file.</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>stringsdict</string>
	</dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>LocalizedByDefault</key>
	<true/>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.stringsdict</string>
	<key>Platforms</key>
	<array/>
	<key>Summary</key>
	<string>A prefilled strings dictionary file.</string>
	<key>SupportsSwiftPackage</key>
	<true/>
</dict>
</plist>
