<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
		<key>Assets.xcassets</key>
		<dict>
			<key>AssetGeneration</key>
			<array>
				<dict>
					<key>Name</key>
					<string>AppIcon</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
						<key>macOS</key>
						<string>true</string>
					</dict>
					<key>Type</key>
					<string>appicon</string>
				</dict>
			</array>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>SortOrder</key>
			<integer>110</integer>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.iosApplicationTarget</string>
				<string>com.apple.dt.osxApplicationTarget</string>
			</array>
		</dict>
		<key>Resources/Base.lproj/Main.html</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Main.html</string>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.iosApplicationTarget</string>
				<string>com.apple.dt.osxApplicationTarget</string>
			</array>
		</dict>
		<key>Resources/Icon.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Icon.png</string>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.iosApplicationTarget</string>
				<string>com.apple.dt.osxApplicationTarget</string>
			</array>
		</dict>
		<key>Resources/Script.js</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Script.js</string>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.iosApplicationTarget</string>
				<string>com.apple.dt.osxApplicationTarget</string>
			</array>
		</dict>
		<key>Resources/Style.css</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Style.css</string>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.iosApplicationTarget</string>
				<string>com.apple.dt.osxApplicationTarget</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
